nav {
  display: flex;
  flex-flow: row nowrap;
  padding: 4px;
  justify-content: space-between;
}

nav > div {
  display: flex;
  flex-flow: row nowrap;
}

nav > div > a {
  margin: 4px;
  padding: 16px;
}

nav > div > .main-icon {
  width: 50%;
  height: 50%;
}
